<div class="container">
    <div [ngStyle]="msgStyle" [hidden]="hideMsg">
      {{message}}
    </div>
    <h1>Division Register Form</h1>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="identifier">identifier:</label>
        <input type="text" class="form-control" id="identifier" required formControlName="identifier">
      </div>
      <div class="mb-3">
        <label for="divName">division name:</label>
        <input type="text" class="form-control" id="divName" required pattern="\d+(.\d{1,2})?" formControlName="divName">
      </div>
      <div class="mb-3">
        <label for="location">location:</label>
        <input type="text" class="form-control" id="location" formControlName="location">
      </div>
      <div class="mb-3">
        <label for="numberOfBed">number of beds:</label>
        <textarea cols="40" class="form-control" id="numberOfBed" formControlName="numberOfBed"></textarea>
      </div>
      <div class="mb-3">
        <label for="ext">ext:</label>
        <textarea cols="40" class="form-control" id="ext" formControlName="ext"></textarea>
      </div>
      <div class="mb-3">
        <label for="bipper">charge nurse bipper ext.:</label>
        <textarea cols="40" class="form-control" id="bipper" formControlName="bipper"></textarea>
      </div>
      <div class="mb-3">
        <label for="full">status:</label>
        <textarea cols="40" class="form-control" id="full" formControlName="full"></textarea>
      </div>
      <div class="mb-3">
        <label for="nurse">charge nurse:</label>
        <textarea cols="40" class="form-control" id="nurse" formControlName="nurse"></textarea>
      </div>
      <button type="submit" class="btn btn-success" >Submit</button>
    </form>
  </div>