<div class="container">
  <div class="nav-link">
    <a [routerLink]="['/home']"> Home </a>
    <a [routerLink]="['/useraccounts']"> Users </a>
    <a [routerLink]="['/admin']"> Register User </a>
    <a [routerLink]="['/patients']"> Patients </a>
    <a [routerLink]="['/patientform']"> Register Patient </a>
    <a [routerLink]="['/divisions']"> Divisions </a>
    <a [routerLink]="['/divform']"> Admin </a>
  </div>
</div>

<div class="container-fluid" >
  <div class="row">
    <div class="col-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>