<div class="container">
  <div class="nav-link">
    <a [routerLink]="['/home']"> Home </a>
    <a [routerLink]="['/user']"> About Us </a>
    <a [routerLink]="['/useraccounts']"> Users </a>
    <a [routerLink]="['/admin']"> Admin </a>
    <a [routerLink]="['/admin']"> Request Admission</a>
    <a [routerLink]="['/admit']"> Admit Patient </a>
    <a [routerLink]="['/admin']"> Logout </a>
  </div>
</div>

<div class="container-fluid" >
  <div class="row">
    <div class="col-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>