<div class="container">
    <div [ngStyle]="msgStyle" [hidden]="hideMsg">
      {{message}}
    </div>
    <h1>User Form</h1>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="employeenum">employee num:</label>
        <input type="text" class="form-control" id="employeenum" required formControlName="employeenum">
      </div>
      <div class="mb-3">
        <label for="firstname">first name:</label>
        <input type="text" class="form-control" id="firstname" required pattern="\d+(.\d{1,2})?" formControlName="firstname">
      </div>
      <div class="mb-3">
        <label for="lastname">last name:</label>
        <input type="text" class="form-control" id="lastname" formControlName="lastname">
      </div>
      <div class="mb-3">
        <label for="role">role:</label>
        <textarea cols="40" class="form-control" id="role" formControlName="role"></textarea>
      </div>
      <button type="submit" class="btn btn-success" >Submit</button>
    </form>
  </div>